<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div *ngFor="let chat of chats" [ngClass]="{ 'text-right': authService.usuario.uid == chat.uid }">
        <span class="badge" [ngClass]="{ 'badge-primary': authService.usuario.uid == chat.uid,
                        'badge-success': authService.usuario.uid != chat.uid }">{{chat.nombre}}</span>
        <p>
            {{ chat.mensaje }}
        </p>
    </div>

    <!-- <div>
        <span class="badge badge-success">Maria</span>
        <p>
            Hola Xavi
        </p>
    </div> -->

</div>

<input type="text" class="form-control" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()">