<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar( formt )" #formt="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input name="nombre" [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" class="form-control" required minlength="5" type="text" placeholder="Nombre" #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input name="apellido" [class.is-invalid]="apellido.invalid && apellido.touched" [ngModel]="usuario.apellido" class="form-control" required minlength="5" type="text" placeholder="Apellido" #apellido="ngModel">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese 5
                    letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input name="email" [class.is-invalid]="email.invalid && email.touched" [ngModel]="usuario.email" class="form-control" type="email" required placeholder="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
            <small *ngIf="email.invalid && email.touched" class="form-text text-danger">Ingrese Un correo valido</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select class="form-control" name="pais" [disabled]="paises.length === 0" [ngModel]="usuario.pais" required [class.is-invalid]="pais.invalid && pais.touched" #pais="ngModel">
                <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="M" [class.is-invalid]="genero.invalid && genero.touched" required [ngModel]="usuario.genero" #genero="ngModel">
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="F" [class.is-invalid]="genero.invalid && genero.touched" required [ngModel]="usuario.genero" #genero="ngModel">
                <label class="form-check-label">Femenino</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>

</form>